@charset "UTF-8";

:root {
	--bg-color: #212529;
	--bg-color-p500: #6200EE;
	--bg-color-p700: #3700B3;
	--bg-color-p200: #BB86FC;
	}
	

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: $font-default;
}

.backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

.backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

.canvas-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url(/resources/images/index_color.png);
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

label {
  font-size: 0.8em;
  text-transform: uppercase;
}

input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 8px 1px;
  margin-top: 0.1em;
  border-bottom: 1px solid black;
}

input:focus{
	box-shadow: 0px 2px rgb(0 0 0/ 15%);
}

.left {
  width: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  background: white;
}

.right {
  width: 50%;
  height: 100%;
  right: 0;
  position: absolute;
  background: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.content h2 {
  font-weight: 500;
  font-size: 2.6em;
  margin: 0.2em 0 0.1em;
  color: var(--bg-color-p500);
}

.form-element {
  margin: 1.6em 0;
  
}

.form-stack {
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.8em 1.2em;
  margin: 0 10px 0 0;
  width: auto;
  font-weight: 600;
  text-transform:  uppercase;
  font-size: 1em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.6px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s;
  background: var(--bg-color-p700);
}

button:focus, button:hover {
  box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  background: var(--bg-color-p500);
}

@media only screen and (max-width: 768px) {
  #slideBox {
    width: 80%;
    margin-left: 20%;
  }
  .signup-info, .login-info {
    display: none;
  }
}

.inputBox {
   position: relative;
   width: 20rem;
   margin: 1rem;
}

.inputBox input {
   width: 100%;
   background: transparent;
   color: black;
   border: none;
   outline: none;
   box-shadow: none;
   font-size: 1em;
   letter-spacing: 0.1em;
   padding: 10px 0 5px;
   font-size: 1.2rem;
}

.inputBox span {
   position: absolute;
   left: 0;
   padding: 10px 0 5px;
   color: var(--bg-color-p500);
   text-transform: uppercase;
   pointer-events: none;
   letter-spacing: 0.1em;
   transition: 0.3s;
   font-weight: 800;
   font-size: 1.2rem;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
   color: var(--bg-color-p500);
   transform: translateY(-16px);
   font-size: 0.85em;
}

.inputBox i {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   background: #fff;
   overflow: hidden;
}

.inputBox i::before {
   content: '';
   position: absolute;
   left: -100%;
   width: 100%;
   height: 100%;
   background: linear-gradient(90deg, #ff1b69, #ff0, #2196f3, #9c27b0, #ff1b69);
   animation: animate 1s linear infinite;
   transition: 0.3s;
}

.inputBox input:valid~i::before,
.inputBox input:focus~i::before {
   left: 0;
}

@keyframes animate {
   0% {
      background-position-x: 0;
   }

   100% {
      background-position-x: 250px;
   }
}