@charset "UTF-8";

:root { 
	--bg_color: #edf1f4;
	--green_color: #00b01c;
}

body {
	justify-content: center;
	align-items: center;
	background: var(--bg_color) !important;
}

p{
	all: unset;
	margin: 0.5rem !important;
	display: table;
}

.green_class {
	background: var(--green_color);
}

#popup_memo_register{
    border: 1px solid var(--green_color);
    border-radius: 10px;
    color: var(--bg_color);
    padding: 3px 10px;
    font-weight: 600;
}

#memo_register1 {
	width: 30%;
	height: 30%;
	min-height: 350px;
	border: 1px solid var(--green_color);
	border-radius: 10px;
	background: var(--green_color);
	margin: 0 auto;
	box-shadow: 15px 15px 20px rgb(0 0 0 / 25%), -15px -15px 20px #fff;
}

.memo_header{
	padding: 0.5rem 1rem !important;
}

.memo_submit {
	all: unset;
	background: gray;
	margin: 0 35%;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
}

.memo_submit:hover {
	background: #7163c4;
}

.memo_register-modal {
	max-width: 600px !important;
}

.memo_register-modal-content {
	border-radius: 10px !important;
    border: 1px solid #777 !important;
    width: 65% !important;
    margin: 0 auto;
    height: 380px;
    background: var(--green_color) !important;
}

.memo_input {
	resize: none;
	box-sizing: border-box;
	padding: 10.5px 20px;
	border-radius: 4px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	width: 95%;
	height: 240px;
	margin: 0 10px;
	background: var(--green_color) !important;
}

.memo_input:focus {
	outline: 0;
}

.memo_title_input {
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	border-radius: 0;
	border: 0;
	width: 540px;
	margin-left: 20px;
	background: var(--green_color) !important;
}

.memo_title_input:focus {
	outline: 0;
}

.memo_register-modal-title {
	font-size: 16px;
	font-weight: 700;
	color: #333;
}

#memo_register_message, #memo_delete_message, #memo_restore_message{
	position: absolute;
	padding: 5px;
	width: 175px;
	border: 1px solid #6449fc;
	border-radius: 20px;
	background-color: #6449fc;
	z-index: 2000;
	overflow: auto;
	top: 15%;
	left: 45%;
	color: white;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
}

.memo_div{
	border-radius: 10px;
	border: 1px solid black;
	display: inline-block;
	padding: 0.5rem;
    margin: 0.5rem;
    transition: 0.5s ease-in-out;
    width: 15rem;
    height: 17rem;
}

.memo_restore{
	font-size : 0.8rem !important;
}
