<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ColorMemos.mapper.MemberMapper">
	<!-- 회원가입 -->
	<insert id="register">
		insert into member(EMAIL, PASSWORD, USERNAME)
		values(#{email}, #{password}, #{username})
	</insert>

	<!-- 이메일 중복 체크 -->
	<select id="emailCheck" resultType="int">
		select count(*) from member
		where email = #{email}
	</select>

	<!-- 로그인 -->
	<select id="login" resultType="int">
		select count(*) from member where
		email = #{param1} and password = #{param2}
	</select>

	<!-- 회원 정보 -->
	<select id="MemberInfo"
		resultType="com.ColorMemos.domain.MemberDTO">
		select * from member where email = #{email}
	</select>

	<!-- 비밀번호 찾기 -->
	<select id="findPassword" resultType="int">
		select count(*) from member
		where name = #{name} and email = #{email}
	</select>

	<!-- 비밀번호 재설정 -->
	<select id="ResetPassword">
		update member set password = #{password} where email
		= #{email}
	</select>
</mapper>