<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ColorMemos.mapper.MemoMapper">

	<!-- 메모 생성 -->
	<insert id="memoRegister">
		INSERT INTO MEMO 
		VALUES(	MEMO_SEQ.NEXTVAL
				,#{mname}
				,#{mdescription}
				,sysdate
				,#{regid} 
				,#{mcolor}
				)
	</insert>
	
	<!-- 메모 리스트 -->
	<select id="memoList" resultType="com.ColorMemos.domain.MemoDTO">
		SELECT 	
			MNAME
			,MDESCRIPTION
			,REGDAY
			,REGID
			,MCOLOR
		FROM MEMO
		where REGID = #{email} 
		ORDER BY MNO DESC
	</select>
	
</mapper>